body {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    background-color:  #d5dec4; ;
  }
  
  .wrapper {
    width: 50.00%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2%;
  }
  
  .block {
    justify-content: center;
    height: calc(55vh - 170px);
    position: relative;
    text-align: center;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #686a60;
    border-radius: 5px;
    padding: 3vw 7vw; 
    box-sizing: border-box;
    z-index: 2;
    
  }
  
  .block:nth-child(2),
  .block:nth-child(4) {
    margin-right: 0;
    
  }
  .block:nth-child(2),
  .block:nth-child(4),
  .block:nth-child(3)
  
  {
    padding:2.5vw;
  }
  .block h2 {
    
    font-size: 2.5vw;
    font-weight: bold;
    color: #e5e8d8;

  }
  
  .block p {
    margin-top: 2vw;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #e5e8d8;
  }
  
  .contact {
    z-index: 1;
    position: absolute;
    top: 150px;
    right: 20px;
    background-color: #b4a284;
    float: right;
    width: 53%;
    margin: 2%;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    height: calc(95vh - 170px);
    
  }
  
  .contact h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:  #e7d9c1;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
  }
  
  .contact input,
  .contact textarea {
    font-family: 'Acme', sans-serif;
    margin: 0 auto; 
    width: 55%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    background-color:#e7d9c1;
  }
  textarea {
    height: 9vw;
  }
  .contact button {
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    background-color: #81755f;
    color: #e7d9c1;
    border: none;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
    align-self: center;
    transition: background-color 0.3s ease;
    margin-bottom: 3vw;
  }
  
  .contact button:hover {
    background-color: #524a3c;
    margin-bottom: 3vw;
    font-family: 'Acme', sans-serif;
  }
  @media screen and (max-width: 850px) {
    .wrapper {
      width: 100%;
    }
    .contact {
      position: static;
      top: auto;
      right: auto;
      float: none;
      width: 100%;
      margin: 2% 0;
      height: auto;
    }
  }
  
  
